[submodule "buildroot"]
    path = buildroot

[submodule "linux"]
	path = linux
	url = git@github.com:Nuclei-Software/linux.git
	branch = feature/optee_5.10

[submodule "opensbi"]
	path = opensbi
	url = git@github.com:PENGLAI-ZGC-TEE/port_nuclei_opensbi.git
	branch = port_nanhu

[submodule "optee/optee_benchmark"]
	path = optee/optee_benchmark

[submodule "optee/optee_client"]
	path = optee/optee_client

[submodule "optee/optee_examples"]
	path = optee/optee_examples	

[submodule "optee/optee_os"]
	path = optee/optee_os

[submodule "optee/optee_test"]
	path = optee/optee_test

[submodule "qemu"]
	path = qemu
